  .contenitore-audio {
            z-index: 9999;
        }

        .tasto-audio {
            height: 50px;
            width: 100%;
            text-align: center;
        }

            .tasto-audio button {
                background: none;
            }

                .tasto-audio button img {
                    max-height: 40px;
                }



        .cela {
            display: none;
        }

        #btn-overlay {
            text-align: left;
        }

        button:focus {
            outline: 0;
        }

        @keyframes pulse {
            from {
                transform: scale(1);
            }

            50% {
                transform: scale(0.85);
            }

            to {
                transform: scale(1);
            }
        }

        .pulso {
            animation-name: pulse;
            animation-duration: 1s;
            animation-iteration-count: infinite;
        }

        button {
            font-size: 2rem;
            /*background-color: #ff6300;*/
            line-height: 2rem;
            color: #fff;
            text-transform: uppercase;
            font-weight: bold;
            width: 100%;
            border: 0;
            border-radius: 5px;
            cursor: pointer;
            font-family: Barlow Condensed;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .nascondi {
            display: none !important;
        }

        #op3-element-iTVqzWUT {
            margin-top: -50px !important;
        }

        #op3-element-JbHwYetl {
            display: block !important;
        }

        @media screen and (max-width : 1023px) {

            #op3-designer-element #op3-element-JbHwYetl#op3-element-JbHwYetl#op3-element-JbHwYetl,
            #op3-designer-element #op3-element-iTVqzWUT#op3-element-iTVqzWUT#op3-element-iTVqzWUT {
                max-width: 100% !important;
            }

            #op3-designer-element #op3-element-ISkopzm2#op3-element-ISkopzm2#op3-element-ISkopzm2 {
                max-width: 100% !important;
            }
        }