/.idea/
*.DS_Store
/01-landingpage/.idea/
/02-oto1/dist/
/03-oto2/dist/
/03-oto2/.cache/
/02-oto1/.cache/
/01-landingpage/node_modules/
/02-oto1/node_modules/
/03-oto2/node_modules/
/all/.cache/
/all/.idea/
/all/dist/
/all/node_modules/
/all/error_signaler_api/node_modules/
/dist/
/error_signaler_api/node_modules/
/node_modules/
/.cache/
