#op3-designer-element {
	.offer-wrapper {
		text-align: center;
		background: 50% no-repeat none;
		background-attachment: fixed;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
				url(https://www.internetcreaindipendenza.it/funnel/gabri_backg.c62dc87a.jpg);
		background-size: cover;
		margin: 0 auto;
		padding: 3rem 0;

		div {
			background: 50% no-repeat none;
			margin: auto;

			h2, h3, h4, h5 {
				font-family: Barlow Condensed, sans-serif;
				color: white;
				font-size: 2.5rem;
				line-height: 2.5rem;
				margin-bottom: 2.5rem;

				b,u {
					font-weight: 700;
					color: #ff7c00;
				}
			}

			h3 {
				font-size: 2.2rem;
				line-height: 2.4rem;
			}

			h4 {
				font-size: 2rem;
				line-height: 2.4rem;
				font-weight: 500;
				text-decoration: underline;
				font-style: italic;
			}

			h5 {
				font-size: 1.7rem;
				line-height: 1.8rem;
				font-weight: 300;
			}

			.separator {
				width: 50%;
				border-top: 5px solid #ff7c00;
				margin: 0 auto;
				margin-bottom: 2.5rem;
			}

			.bullet-container {
				max-width: 40rem;
				border: 2px solid white;
				color: white;
				text-align: left;
				margin: 1rem auto;
				padding: 1rem;
				font-size: 1.2rem;
				line-height: 1.7rem;
				margin-bottom: 2.5rem;
			}

			a.cta {
				border-color: #ff7c00;
				background-color: #ff7c00;
				width: 80%;
				max-width: 40rem;
				color: white;
				display: block;
				padding: 1rem;
				margin: 1rem auto;
				font-family: "Barlow Condensed", sans-serif;
				font-size: 2rem;
				font-weight: 700;
				border-radius: 10px;
				margin-bottom: 2.5rem;

				&.rounded {
					border-radius: 50px;
				}

				div {
					text-transform: uppercase;
					line-height: 2rem;

					&.disclaimer {
						text-transform: none;
					}
				}
			}

			.bundle-wrapper {
				max-width: 40rem;
				color: white;
				margin-bottom: 3rem;

				h3 {
					font-family: 'Nunito Sans', Helvetica, Arial, Lucida, sans-serif;
					font-size: 1.7rem;
					font-weight: 300;
					margin-bottom: 1rem;

					b,u {
						font-weight: 700;
						color: white;
					}
				}

				img {
					display: block;
					width: 100%;
				}

				.desc {
					text-align: left;
					padding: 1.5rem;
					box-shadow: 6px 6px 18px 0px rgba(255, 255, 255, 0.27);
					margin: 1rem;
					background-color: rgba(0,0,0,0.5);
					p {
						font-size: 1.3rem;
						line-height: 1.7rem;

						i {
							font-weight: 700;
						}
					}
				}
			}

			img {
				display: block;
				width: 80%;
				max-width: 40rem;
				margin: 0 auto;
				margin-bottom: 2rem;
			}

			*:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	#op3-designer-element {


		.offer-wrapper {
			padding: 4rem 0;


			div {
				max-width: 40rem;

				h2{
					font-size: 3rem;
					margin-bottom: 3rem;
				}

				h3 {
					font-size: 1.8rem;
					line-height: 2.2rem;
					margin-bottom: 4rem;
				}

				h4 {
				}

				h5 {

				}

				.bullet-container {
					border: 1px solid white;
					border-radius: 0.2rem;

					font-size: 1.7rem;
					line-height: 3rem;
				}

				a.cta {
					div {

						&.disclaimer {

						}
					}
				}

				.bundle-wrapper {
					margin-bottom: 4rem;

					h3 {

					}

					img {
						margin-bottom: 1rem;
					}

					.desc {
						p {
						}
					}
				}

				img {
					margin-bottom: 4rem;
					width: 100%;
					max-width: 50rem;

					&.progress-bar {
						width: 60%;
					}
				}

			}
		}
	}
}

@media screen and (min-width: 1024px) {
	#op3-designer-element {
		.offer-wrapper {
			padding: 5rem 0;

			div {
				max-width: 55rem;
				h2{
					font-size: 4rem;
					margin-bottom: 5rem;
				}

				h3 {
					font-size: 3rem;
					line-height: 4rem;
					margin-bottom: 5rem;
				}

				h4 {
				}

				h5 {

				}

				.bullet-container {

					border: 1px solid white;
					border-radius: 0.2rem;

					font-size: 1.7rem;
					line-height: 3rem;
				}

				a.cta {
					div {

						&.disclaimer {

						}
					}
				}

				.bundle-wrapper {
					margin-bottom: 4rem;

					h3 {

					}

					img {
						margin-bottom: 1rem;
					}

					.desc {
						p {
						}
					}
				}

				img {
					margin-bottom: 4rem;
					width: 100%;

					&.progress-bar {
						width: 60%;
					}
				}

			}
		}
	}
}