/* barlow-condensed-100 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 100;
  src: local('Barlow Condensed Thin'), local('BarlowCondensed-Thin'),
       url('../../fonte/barlow-condensed-v4-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-100.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-200 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 200;
  src: local('Barlow Condensed ExtraLight'), local('BarlowCondensed-ExtraLight'),
       url('../../fonts/barlow-condensed-v4-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-200.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-100italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 100;
  src: local('Barlow Condensed Thin Italic'), local('BarlowCondensed-ThinItalic'),
       url('../../fonts/barlow-condensed-v4-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-100italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-200italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 200;
  src: local('Barlow Condensed ExtraLight Italic'), local('BarlowCondensed-ExtraLightItalic'),
       url('../../fonts/barlow-condensed-v4-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-200italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-300italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 300;
  src: local('Barlow Condensed Light Italic'), local('BarlowCondensed-LightItalic'),
       url('../../fonts/barlow-condensed-v4-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-300italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-300 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Barlow Condensed Light'), local('BarlowCondensed-Light'),
       url('../../fonts/barlow-condensed-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-300.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Condensed Regular'), local('BarlowCondensed-Regular'),
       url('../../fonts/barlow-condensed-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 400;
  src: local('Barlow Condensed Italic'), local('BarlowCondensed-Italic'),
       url('../../fonts/barlow-condensed-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-500 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Barlow Condensed Medium'), local('BarlowCondensed-Medium'),
       url('../../fonts/barlow-condensed-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-500.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-500italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 500;
  src: local('Barlow Condensed Medium Italic'), local('BarlowCondensed-MediumItalic'),
       url('../../fonts/barlow-condensed-v4-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-500italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-600 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  src: local('Barlow Condensed SemiBold'), local('BarlowCondensed-SemiBold'),
       url('../../fonts/barlow-condensed-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-600.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Condensed Bold'), local('BarlowCondensed-Bold'),
       url('../../fonts/barlow-condensed-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-600italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 600;
  src: local('Barlow Condensed SemiBold Italic'), local('BarlowCondensed-SemiBoldItalic'),
       url('../../fonts/barlow-condensed-v4-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-600italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-700italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 700;
  src: local('Barlow Condensed Bold Italic'), local('BarlowCondensed-BoldItalic'),
       url('../../fonts/barlow-condensed-v4-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-700italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-800italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 800;
  src: local('Barlow Condensed ExtraBold Italic'), local('BarlowCondensed-ExtraBoldItalic'),
       url('../../fonts/barlow-condensed-v4-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-800italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-800 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  src: local('Barlow Condensed ExtraBold'), local('BarlowCondensed-ExtraBold'),
       url('../../fonts/barlow-condensed-v4-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-800.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-900 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 900;
  src: local('Barlow Condensed Black'), local('BarlowCondensed-Black'),
       url('../../fonts/barlow-condensed-v4-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-900.woff') format('woff'); /* Modern Browsers */
}
/* barlow-condensed-900italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 900;
  src: local('Barlow Condensed Black Italic'), local('BarlowCondensed-BlackItalic'),
       url('../../fonts/barlow-condensed-v4-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-condensed-v4-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

/* barlow-100 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 100;
  src: local('Barlow Thin'), local('Barlow-Thin'),
       url('../../fonts/barlow-v4-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-100.woff') format('woff'); /* Modern Browsers */
}
/* barlow-200 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 200;
  src: local('Barlow ExtraLight'), local('Barlow-ExtraLight'),
       url('../../fonts/barlow-v4-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-200.woff') format('woff'); /* Modern Browsers */
}
/* barlow-100italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 100;
  src: local('Barlow Thin Italic'), local('Barlow-ThinItalic'),
       url('../../fonts/barlow-v4-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-100italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-200italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 200;
  src: local('Barlow ExtraLight Italic'), local('Barlow-ExtraLightItalic'),
       url('../../fonts/barlow-v4-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-200italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-300 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 300;
  src: local('Barlow Light'), local('Barlow-Light'),
       url('../../fonts/barlow-v4-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-300.woff') format('woff'); /* Modern Browsers */
}
/* barlow-regular - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Regular'), local('Barlow-Regular'),
       url('../../fonts/barlow-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* barlow-300italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 300;
  src: local('Barlow Light Italic'), local('Barlow-LightItalic'),
       url('../../fonts/barlow-v4-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-300italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 400;
  src: local('Barlow Italic'), local('Barlow-Italic'),
       url('../../fonts/barlow-v4-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-500 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: local('Barlow Medium'), local('Barlow-Medium'),
       url('../../fonts/barlow-v4-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-500.woff') format('woff'); /* Modern Browsers */
}
/* barlow-600 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: local('Barlow SemiBold'), local('Barlow-SemiBold'),
       url('../../fonts/barlow-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-600.woff') format('woff'); /* Modern Browsers */
}
/* barlow-500italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 500;
  src: local('Barlow Medium Italic'), local('Barlow-MediumItalic'),
       url('../../fonts/barlow-v4-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-500italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-600italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 600;
  src: local('Barlow SemiBold Italic'), local('Barlow-SemiBoldItalic'),
       url('../../fonts/barlow-v4-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-600italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-700 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: local('Barlow Bold'), local('Barlow-Bold'),
       url('../../fonts/barlow-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-700.woff') format('woff'); /* Modern Browsers */
}
/* barlow-800 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: local('Barlow ExtraBold'), local('Barlow-ExtraBold'),
       url('../../fonts/barlow-v4-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-800.woff') format('woff'); /* Modern Browsers */
}
/* barlow-700italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 700;
  src: local('Barlow Bold Italic'), local('Barlow-BoldItalic'),
       url('../../fonts/barlow-v4-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-700italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-800italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 800;
  src: local('Barlow ExtraBold Italic'), local('Barlow-ExtraBoldItalic'),
       url('../../fonts/barlow-v4-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-800italic.woff') format('woff'); /* Modern Browsers */
}
/* barlow-900 - latin */
@font-face {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  src: local('Barlow Black'), local('Barlow-Black'),
       url('../../fonts/barlow-v4-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-900.woff') format('woff'); /* Modern Browsers */
}
/* barlow-900italic - latin */
@font-face {
  font-family: 'Barlow';
  font-style: italic;
  font-weight: 900;
  src: local('Barlow Black Italic'), local('Barlow-BlackItalic'),
       url('../../fonts/barlow-v4-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/barlow-v4-latin-900italic.woff') format('woff'); /* Modern Browsers */
}

/* ibm-plex-sans-regular - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}
/* ibm-plex-sans-italic - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 400;
  src: local('IBM Plex Sans Italic'), local('IBMPlexSans-Italic'),
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-italic.woff') format('woff'); /* Modern Browsers */
}
/* ibm-plex-sans-500 - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 500;
  src: local('IBM Plex Sans Medium'), local('IBMPlexSans-Medium'),
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-500.woff') format('woff'); /* Modern Browsers */
}
/* ibm-plex-sans-500italic - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 500;
  src: local('IBM Plex Sans Medium Italic'), local('IBMPlexSans-MediumItalic'),
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-500italic.woff') format('woff'); /* Modern Browsers */
}
/* ibm-plex-sans-600 - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold'), local('IBMPlexSans-SemiBold'),
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600.woff') format('woff'); /* Modern Browsers */
}
/* ibm-plex-sans-600italic - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 600;
  src: local('IBM Plex Sans SemiBold Italic'), local('IBMPlexSans-SemiBoldItalic'),
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-600italic.woff') format('woff'); /* Modern Browsers */
}
/* ibm-plex-sans-700 - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 700;
  src: local('IBM Plex Sans Bold'), local('IBMPlexSans-Bold'),
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}
/* ibm-plex-sans-700italic - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: italic;
  font-weight: 700;
  src: local('IBM Plex Sans Bold Italic'), local('IBMPlexSans-BoldItalic'),
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/ibm-plex-sans-v7-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-700italic.woff') format('woff'); /* Modern Browsers */
}

/* lato-regular - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../../fonts/lato-v16-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/lato-v16-latin-ext_latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* lato-700 - latin-ext_latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../../fonts/lato-v16-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/lato-v16-latin-ext_latin-700.woff') format('woff'); /* Modern Browsers */
}

/* montserrat-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../../fonts/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-500 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../../fonts/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-500.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-700 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('../../fonts/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-700.woff') format('woff'); /* Modern Browsers */
}
/* montserrat-800 - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../../fonts/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/montserrat-v14-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-800.woff') format('woff'); /* Modern Browsers */
}

/* nunito-sans-regular - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
       url('../../fonts/nunito-sans-v5-vietnamese_latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/nunito-sans-v5-vietnamese_latin-ext_latin-regular.woff') format('woff'); /* Modern Browsers */
}
/* nunito-sans-700 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
       url('../../fonts/nunito-sans-v5-vietnamese_latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/nunito-sans-v5-vietnamese_latin-ext_latin-700.woff') format('woff'); /* Modern Browsers */
}
/* nunito-sans-800 - vietnamese_latin-ext_latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Nunito Sans ExtraBold'), local('NunitoSans-ExtraBold'),
       url('../../fonts/nunito-sans-v5-vietnamese_latin-ext_latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/nunito-sans-v5-vietnamese_latin-ext_latin-800.woff') format('woff'); /* Modern Browsers */
}

/* poppins-regular - latin-ext_latin_devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'),
       url('../../fonts/poppins-v9-latin-ext_latin_devanagari-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/poppins-v9-latin-ext_latin_devanagari-regular.woff') format('woff'); /* Modern Browsers */
}
/* poppins-500 - latin-ext_latin_devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local('Poppins Medium'), local('Poppins-Medium'),
       url('../../fonts/poppins-v9-latin-ext_latin_devanagari-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/poppins-v9-latin-ext_latin_devanagari-500.woff') format('woff'); /* Modern Browsers */
}
/* poppins-700 - latin-ext_latin_devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'),
       url('../../fonts/poppins-v9-latin-ext_latin_devanagari-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/poppins-v9-latin-ext_latin_devanagari-700.woff') format('woff'); /* Modern Browsers */
}
/* poppins-800 - latin-ext_latin_devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
       url('../../fonts/poppins-v9-latin-ext_latin_devanagari-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../fonts/poppins-v9-latin-ext_latin_devanagari-800.woff') format('woff'); /* Modern Browsers */
}
