
img.wp-smiley,
img.emoji {
display: inline !important;
border: none !important;
box-shadow: none !important;
height: 1em !important;
width: 1em !important;
margin: 0 .07em !important;
vertical-align: -0.1em !important;
background: none !important;
padding: 0 !important;
}

.contenitore-audio {
z-index: 9999;
}

.tasto-audio {
height: 50px;
width: 100%;
text-align: center;
}

.tasto-audio button {
	background: none;
}

	.tasto-audio button img {
		max-height: 40px;
	}

#op3-element-4jnbWK3a {
margin-top: -50px !important;
}

.cela {
display: none;
}

.section-cillo-blu {
display: none !important;
}

.esclusiva {
text-align: center;
color: #fff;
font-size: 25px;
padding: 0 10%;
}

.esclusiva h4 {
	padding: 20px;
	background-color: #ff7c00;
	border-radius: 50px;
}

#mese {
text-transform: uppercase;
}

@media only screen and (max-device-width : 360px) {
.section-cillo-blu {
	/*background-size:200% !important;*/
}
}

@media only screen and (max-device-width : 768px) {
.no-mob {
	display: none !important;
}

.tabs {
	height: 140px !important;
}

#totalone, #totale, .primariga {
	max-width: 90% !important;
	font-size: 0.8em !important;
}
}

#btn-overlay {
text-align: left;
}

#op3-designer-element .triangolo-destro > [data-op3-element-container] > [data-op3-border] > [data-op3-background="image"] {
background-size: 100% 100% !important;
}

#op3-designer-element .triangolo-sotto > [data-op3-element-container] > [data-op3-border] > [data-op3-background="image"] {
background-size: 100% 100% !important;
}

@keyframes pulse {
from {
	transform: scale(1);
}

50% {
	transform: scale(0.85);
}

to {
	transform: scale(1);
}
}

.pulso {
animation-name: pulse;
animation-duration: 1s;
animation-iteration-count: infinite;
}

	.fas.fa-circle {
margin-right: 20px;
font-size: 80%;
margin-top: 9px;
color: rgb(255, 110, 0);
}

/****************************************** stile form ******************/



input#offerta::before {
	content: url(../../assets/img/arrow.png);
	margin-left: -35px;
	line-height: 0.5em;
	animation: fadeIn ease 0.5s;
	-webkit-animation: fadeIn ease 0.5s;
	-moz-animation: fadeIn ease 0.5s;
	-o-animation: fadeIn ease 0.5s;
	-ms-animation: fadeIn ease 0.5s;
	animation-iteration-count: infinite;
	margin-left: -20px;
	top: -4px;
	position: relative;

}

#totalone, #totale, .primariga {
  max-width: 95%;
}

  #totalone p, #totale p, .primariga p {
	  font-family: Barlow Condensed;
  }

.tabs div {
  width: 50%;
  float: left;
  vertical-align: middle;
  line-height: 110px;
}

.subtitolo {
  font-family: Lato;
  font-size: 0.8em;
  padding: 0 5px;
}

.tabs h3 {
  margin: 5px;
}

.note p {
  color: #fff;
  font-family: Lato !important;
  font-size: 0.8rem !important;
  text-align: justify !important;
  padding: 15px 5px !important;
}

form h3 {
  font-family: Barlow condensed !important;
  margin-top: 8px !important;
  margin-bottom: 0 !important;
}

.box-offerta {
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 15px 15px 11px 1px rgba(0, 0, 0, 0.349);
  color: #666;
  text-align: center;
  font-family: Lato;
  padding: 15px;
  margin-top: 20px;
}

  .box-offerta:hover {
	  box-shadow: 0 0 10px rgb(137, 212, 255);
  }

.riepilogo {
  padding-top: 20px;
  font-family: Barlow Condensed !important;
  ;
}

.aggiunta {
  color: #ff6300;
  font-size: 1.2rem;
  font-family: Barlow Condensed;
  font-weight: bold;
}

.primariga {
  border-bottom: 1px solid #fff;
}

.sxx {
  width: 90%;
  float: left
}

.dxx {
  float: right;
  width: 10%
}

.hidden {
  display: none;
}

button {
  font-size: 2rem;
  background-color: #ff6300;
  line-height: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: Barlow Condensed;
  padding-top: 10px;
  padding-bottom: 10px;
}

  button:focus {
	  outline: 0;
  }

.txt-btn {
  font-family: Lato;
  font-size: 1rem;
  text-transform: none;
  font-weight: 400;
}

.correggi {
  background-color: transparent;
  text-transform: none;
  font-size: 0.8rem;
  font-weight: 200;
}

.testata-form {
  height: 110px;
  background: #3e3e3e;
  color: #fff;
  border-radius: 5px 5px 0 0;
}

.tabs {
  width: 50%;
  float: left;
  height: 120px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  background-color: #8e8d8d;
  position: relative;
}

  .tabs img {
	  width: 30px;
	  margin-top: 15px;
  }

  .tabs p {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
  }

.attiva {
  background-color: #3e3e3e;
  margin-top: -15px;
}

.tab {
  padding: 20px;
  background: #3e3e3e;
  color: #fff;
}

.tastoni {
  overflow: auto;
  padding: 20px;
  background: #3e3e3e;
  padding-top: 0;
  padding-bottom: 0;
}

.riepilogo .fa, .riepilogo .fas {
  color: #ff6300;
}

#regForm {
  background-color: transparent;
  margin-top: 15px !important;
}

/* Style the input fields */
input, select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Barlow Condensed;
  border: 1px solid #3e3e3e;
  border-radius: 5px;
  margin: 10px 10px 0 0;
  min-height: 50px;
}

select {
  -webkit-appearance: none;
  background: #fff;
}

input[type=radio], input[type=checkbox] {
  width: auto;
}

input[type=radio], input[type=checkbox] {
  min-height: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.tab img {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

  /* Mark the active step: */
  .step.active {
	  opacity: 1;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
	  background-color: #4CAF50;
  }


.fade-in {
  animation: fadeIn ease 0.5s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
	  opacity: 0;
	  transform: scale(0.1,0.1);
	  /*transform: translate(-1000px, 0);*/
  }

  100% {
	  /*transform: translate(0, 0);*/
	  opacity: 1;
	  transform: scale(1,1);
  }
}

@-moz-keyframes fadeIn {
  0% {
	  opacity: 0;
  }

  100% {
	  opacity: 1;
  }
}


@-webkit-keyframes fadeIn {
  0% {
	  opacity: 0;
  }

  100% {
	  opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
	  opacity: 0;
  }

  100% {
	  opacity: 1;
  }
}



@-ms-keyframes fadeIn {
  0% {
	  opacity: 0;
  }

  100% {
	  opacity: 1;
  }
}

@keyframes jump {
  0% {
	  transform: translate(-100px, 0);
  }

  100% {
	  transform: translate(0, 0);
  }
}

@-moz-keyframes jump {
  0% {
	  transform: translate(-10px, 0);
  }

  100% {
	  transform: translate(0, 0);
  }
}

@-webkit-keyframes jump {
  0% {
	  transform: translate(-10px, 0);
  }

  100% {
	  transform: translate(0, 0);
  }
}

@-o-keyframes jump {
  0% {
	  transform: translate(-10px, 0);
  }

  100% {
	  transform: translate(0, 0);
  }
}

@-ms-keyframes jump {
  0% {
	  transform: translate(-10px, 0);
  }

  100% {
	  transform: translate(0, 0);
  }
}