#FORM-CONTAINER.form-wrapper {
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px 0;

	.pure-g {
		padding: 0px;

		.left-col {
			padding: 10px;
			text-align: center;
			margin-bottom: 40px;

			h2 {
				margin: 30px auto;
				font-size: 19px;
				line-height: 22px;
			}

		}

		form {

			input, select {
				color: blacK;
			}

			input.invalid, .box-privacy.invalid {
				background-color: #ffdddd;
				border: 2px solid red;
			}

			.box-privacy {
				margin-top: 1rem;
				padding: 0 10px;
				padding-bottom: 5px;
				font-size: 13px;
				text-align: justify;

				&.invalid {
					background-color: #ffdddd;
					border: 2px solid red;
					color: black;
				}
			}

			.tab1 {
				padding: 5px;

				.box-offerta {
					background-color: rgba(0, 0, 0, 0.5);
					border: 1px solid rgba(255,255,255,0.2);
					color:white;
					padding: 0;
					padding-bottom: 30px;
					padding-top: 110px;
					margin: 0;
					margin-top: 110px;
					margin-bottom: 20px;

					&.bump2 {
						padding-top: 135px;
						margin-bottom: 2rem;
					}

					.bump-img {
						top: -90px;
						left:0;
						position: absolute;

						img {
							width: 85%;

							&.time {
								width: 95%
							}
						}
					}

					.bump-txt {
						font-size: 15px;
						padding: 0;
						margin: 0 20px;
						text-align:left;
						position: relative;
						margin-bottom: 20px;

						img {
							width: 100px;
							height: 1px;
							margin: 0;
							padding: 0;
							position: relative;
						}

						.show-more {
							position: absolute;
							right: 0;
							bottom: -2px;
							color: #ff8d01;
							font-size: 90%;
							text-decoration: underline;
							cursor: pointer;
						}
					}
					.more {
						text-align: left;
						margin: 0 10px;
						overflow: hidden;
						margin-bottom: 15px;
						transition: max-height 2s ease-in-out;
						max-height: 1000px;

						&.hidden {
							display: none;
							max-height: 0px;
							transition: max-height 1s ease-in-out;
						}

						> div {
							padding: 15px;
							position: relative;
							background-image: linear-gradient(155deg, #0000008f 0%, #a9a9a926 65%, rgba(0, 0, 0, 0.65) 100%);
							border: 1px solid #ffffff2b;

							.title {
								font-size: 15px;
								margin: 0;
								padding: 0;
								margin-bottom: 5px;
								position: relative;

								.amount {
									position: absolute;
									right: 0;
									top: 0;
									color: #ff8d01;

									.strike {
										width: 33px;
										position: absolute;
										border-top: 1px solid #fffffff7;
										right: -5px;
										transform: rotate(-12deg);
										top: 11px;
									}
								}
							}

							ul {
								padding-left: 30px;
								li {
									font-size: 15px;
								}
							}

							.and-more {
								font-style: italic;
							}
						}
					}
					.bump-check {
						margin: 0;
						padding: 0 10px;

						cursor: pointer;
						input[type=checkbox] {
							margin-right: 5px;
						}

						.aggiunta {
							color: #FF8D00;
							font-size: 17px;
							cursor: pointer;
						}

						p {
							margin: 0;
							margin-top: 10px;
						}
					}
				}

				.box-riepilogo {
					padding: 15px;
					margin: 10px;
					background-color: #ffffff17;

					.table {
						margin: 0;
						padding: 0;
						width: 100%;
						display: table;
						.row {
							display: table-row;

							&.bump1 { display: none; }
							&.bump2 { display: none; }

							&.head {
								line-height: 35px;

								.cell {
									border-bottom: 1px solid rgba(255, 255, 255, 0.5);
									margin-bottom: 5px;
									font-size: 16px;
									font-weight: bold;
									padding: 0 5px;
								}
							}

							&:nth-child(2) {
								.cell {
									vertical-align: bottom;
									height: 35px;
								}
							}

							.cell {
								line-height: 22px;
								i {
									font-size: 8px;
									color: #ff7c00;
									margin-left: -2px;
									margin-right: 2px;
								}
								font-size: 14px;
								display: table-cell;
								vertical-align: bottom;
								margin-bottom: 2px;
								.bump1 { display: none; }
								.bump2 { display: none; }
								.bump1_bump2 { display: none; }

								&:last-child {
									text-align: right;
								}
							}
						}

						&.totale {
							margin-top: 10px;
							.row {

								.cell {
									font-size: 16px;
									font-weight: bold;
									height: 30px;
									//border-top: 1px solid rgba(255, 255, 255, 0.5);
									vertical-align: middle;
								}
							}
						}


						max-width: 100% !important;
						.dxx {
							width: 50px;
						}
					}

					&.with-bump1 {
						.table {
							.row.bump1 { display: table-row; }
						}

						.table.totale {
							.row {
								.cell .no-bump { display: none; }
								.cell .bump1 {	display: inline; }
								.cell .bump2 { display: none; }
								.cell .bump1_bump2 { display: none; }
							}
						}
					}
					&.with-bump2 {
						.table {
							.row.bump2 { display: table-row; }
						}
						.table.totale {
							.row {
								.cell .no-bump { display: none; }
								.cell .bump1 { display: none; }
								.cell .bump2 {	display: inline; }
								.cell .bump1_bump2 { display: none; }
							}
						}
					}
					&.with-bump1.with-bump2 {
						.table.totale {
							.row {
								.cell .no-bump { display: none; }
								.cell .bump1 { display: none; }
								.cell .bump2 { display: none; }
								.cell .bump1_bump2 { display: inline; }
							}
						}
					}
				}


			}
		}
	}

	h1 {
		position: relative;
		font-family: "Barlow Condensed", sans-serif !important;
		font-size: 35px;
		text-transform: uppercase;
		text-align: center;
		text-shadow: rgba(0, 0, 0, 0.3) 0px 4px 0px;
		line-height: 1.2em;
		color: white;
		margin: 7px;
		margin-bottom: 30px;

		i {
			color: #ff7c00;
			text-decoration: none;
		}
	}

	div {
		position: relative;
	}

}

@media screen and (max-width:375px) {
	.heading {
		.op3-headline-wrapper div h2 {
			margin-top: 10px;
			line-height: 18px;
		}
	}

	#op3-designer-element #op3-element-iEnETiq7 {
		padding-bottom: 5px;
	}

	#op3-designer-element #op3-element-p2ZUbPyw {
		padding-bottom:7px;
	}

	#op3-designer-element #op3-element-unMBkYzQ {
		padding-top:0;
	}

	#FORM-CONTAINER.form-wrapper .pure-g {
		form {

			.tab1 {
				.box-riepilogo {
					padding: 15px;
					margin: 0;
				}

				.box-offerta {
					padding-top: 90px;
					&.bump2 {
						padding-top: 110px;
					}
					.more > div {

						padding: 10px;

						.title {
							font-size: 14px;
							.amount {
								font-size: 13px;
							}
						}

						ul {
							padding-left: 20px;

							li {
								line-height: 20px;
								padding-bottom: 5px;
								margin-bottom: 5px;
							}
						}
						.and-more {
							font-size: 14px;
						}
					}

					.bump-check {
						padding: 0 22px;

						p {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

@media (screen and min-width: 768px) {
	#FORM-CONTAINER.form-wrapper {

		.pure-g {
			padding: 5px;

			form {
				.tab1 {
					padding: 5px;
				}
			}
		}
	}

	#op3-designer-element #op3-element-xDFLv3QT {
		margin: auto;
	}
}

@media (screen and min-width: 1024px) {
	#FORM-CONTAINER.form-wrapper {
		padding: 20px;

		h1 {
			font-size: 60px;
			margin-bottom: 50px;
			text-shadow: rgba(0, 0, 0, 0.3) 0px 6px 0px;
		}

		.pure-g {
			padding: 20px;

			.left-col {
				padding: 40px;
				text-align: center;
			}

			form {
				.tab1 {
					.box-offerta {
						margin: 10px;
						padding-bottom: 0;
						margin-top: 110px;
						padding-top: 40px;
						&.bump2 {
							padding-top: 75px;
							margin-bottom: 3rem;
						}
						.bump-img {
							top: -100px;
							img {
								width: 60%;

								&.time {
									width: 75%;
									position: relative;
								}
							}
						}
						.bump-txt {
							margin: 17px;
							margin-bottom: 20px;
						}

						.more {
							margin-left: 20px;
							margin-right: 20px;
						}

						.bump-check {
							margin: 0 1.5rem;margin-bottom: 20px;

							p {
								font-size: 15px;
								font-style: italic;
								padding: 5px 23px;
								margin: 13px 0;
								margin-top: 20px;
							}
						}
					}
				}
			}
		}
	}
}

@media (screen and min-width: 1280px) {
	#FORM-CONTAINER.form-wrapper {
		.pure-g {
			form {
				.tab1 {
					.box-offerta {
						padding-top: 95px;

						.bump-img img.time {
							width: 85%;
						}

						&.bump2 {
							padding-top: 160px;
							margin-bottom: 3rem;
						}

						.bump-check {
							.aggiunta {
								font-size: 22px;
							}

							p {
								font-size: 18px;
							}
						}

						.more > div .title.last {
							margin-top: 20px;

						}
						.bump-txt {
							font-size: 16px;
						}
					}

					.box-riepilogo .table {
						.row .cell {
							font-size: 18px;
							line-height: 25px;
						}

						&.totale {
							.row {
								.cell {
									font-size: 18px;
								}
							}
						}
					}
				}
			}
		}
	}
}

