@import "index";
@import "custom-head";
@import "form";
@import "offer";
@import "cta_block";
@import "testimonial_images";
@import "pure-modal";


//::  Gestione minnma per legal
#op3-designer-element {
	div.legal {
		max-width: 75rem;
		margin:0 auto;
		padding: 1.5rem;
		padding-top: 2.5rem;
		p {
			font-size: 1rem;
			text-align: justify;
		}
	}
}

#modal-one {
	.modal-body {
		font-size: 13px;
		p, ul,li {
			font-size: 12px;
		}
	}

	@media screen and (min-width: 1024px) {
		.modal-body {
			font-size: 15px;
			p, ul,li {
				font-size: 13px;
			}
		}
	}
}