#op3-designer-element {
	.offer-wrapper {
		text-align: center;
		background: 50% no-repeat none;
		background-attachment: fixed;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
				url(https://www.internetcreaindipendenza.it/funnel/gabri_backg.c62dc87a.jpg);
		background-size: cover;
		margin: 0 auto;
		padding: 3rem 0.8rem;
		padding-bottom: 0;
		> div {
			background: 50% no-repeat none;
			margin: auto;

			h2, h3, h4, h5 {
				font-family: Barlow Condensed, sans-serif;
				color: white;
				font-size: 2.4rem;
				line-height: 2.5rem;
				margin-bottom: 2.5rem;

				b,u {
					font-weight: 700;
					color: #ff7c00;
				}
			}

			h3 {
				font-size: 2.2rem;
				line-height: 2.4rem;
			}

			h4 {
				font-size: 2rem;
				line-height: 2.4rem;
				font-weight: 500;
				text-decoration: underline;
				font-style: italic;
			}

			h5 {
				font-size: 1.7rem;
				line-height: 1.8rem;
				font-weight: 300;
			}

			.separator {
				width: 50%;
				border-top: 5px solid #ff7c00;
				margin: 0 auto;
				margin-bottom: 2.5rem;
			}

			.bullet-container {
				max-width: 40rem;
				border: 2px solid white;
				color: white;
				text-align: left;
				margin: 0rem;
				padding: 1rem;
				padding-left: 0.5rem;
				margin-bottom: 2.5rem;

				img {
					width: 20px;
					margin-top: 10px;
				}

				p {
					font-family: "PT Sans",sans-serif;
					font-size: 1.3rem;
					line-height: 2rem;
				}
			}

			a.rounded.cta {
				border-color: #ff7c00;
				background-color: #ff7c00;
				max-width: 40rem;
				color: white;
				display: block;
				padding: 1rem;
				margin: 1rem auto;
				font-family: "Barlow Condensed", sans-serif;
				font-size: 2rem;
				font-weight: 700;
				border-radius: 50px;
				margin-bottom: 2.5rem;
				padding-bottom: 1.1rem;

				&:hover {
					text-decoration: none;
				}

				div {
					text-transform: uppercase;
					line-height: 2rem;

					&.disclaimer {
						text-transform: none;
					}
				}
			}

			.bundle-wrapper {
				max-width: 40rem;
				color: white;
				margin: 3.6rem 0;
				margin-bottom: 3rem;

				h3 {
					font-family: 'Titillium Web',Helvetica,Arial,Lucida,sans-serif;
					font-size: 1.8rem;
					font-weight: 300;
					margin-bottom: 2rem;

					b,u {
						font-weight: 700;
						color: white;
					}
				}

				img {
					display: block;
					width: 100%;
					margin-bottom: 1rem;
				}

				.desc {
					text-align: left;
					padding: 2rem 1.5rem;
					box-shadow: 0px 0px 22px rgba(255, 255, 255, 0.4);
					background-color: rgba(30,30,30,0.8);
					p {
						font-family: 'Titillium Web',Helvetica,Arial,Lucida,sans-serif;
						font-size: 1.3rem;
						line-height: 1.8rem;

						i {
							font-weight: 700;
							font-style: italic;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

			}

			img {
				display: block;
				width: 100%;
				max-width: 40rem;
				margin: 0 auto;
				margin-bottom: 2rem;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	#op3-designer-element {


		.offer-wrapper {
			padding: 4rem 0;


			div {
				max-width: 40rem;

				h2{
					font-size: 3rem;
					margin-bottom: 3rem;
				}

				h3 {
					font-size: 1.8rem;
					line-height: 2.2rem;
					margin-bottom: 4rem;
				}

				h4 {
				}

				h5 {

				}

				.bullet-container {
					border: 1px solid white;
					border-radius: 0.2rem;

					font-size: 1.7rem;
					line-height: 3rem;
				}

				a.rounded.cta {
					div {

						&.disclaimer {

						}
					}
				}

				.bundle-wrapper {
					margin-bottom: 4rem;

					h3 {

					}

					img {
						margin-bottom: 1rem;
					}

					.desc {
						p {
						}
					}
				}

				img {
					margin-bottom: 4rem;
					width: 100%;
					max-width: 50rem;

					&.progress-bar {
						width: 60%;
					}
				}

			}
		}
	}
}

@media screen and (min-width: 1024px) {
	#op3-designer-element {
		.offer-wrapper {
			padding: 5rem 0;
			padding-bottom: 0;

			div {
				max-width: 55rem;
				h2{
					font-size: 4.5rem;
					margin-bottom: 4rem;
				}
				.separator {
					margin-bottom: 3.5rem;
				}

				h3 {
					font-size: 2.8rem;
					line-height: 4rem;
					margin-bottom: 5rem;
				}

				h4 {
					margin-bottom: 1rem;
				}

				h5 {
					margin-bottom: 1rem;
				}

				.bullet-container {
					max-width: 45rem;
					border: 2px solid white;
					border-radius: 0.2rem;
					font-size: 1.7rem;
					line-height: 3rem;
					margin: 0 auto;
					margin-bottom: 3.5rem;
					padding: 2rem;
					padding-left: 1rem;

					img {
						width: 28px;
						margin-top: 10px;
					}

					p {
						font-size: 1.7rem;
						line-height: 2.5rem;
						margin:0;
					}
				}

				a.rounded.cta {
					max-width: 45rem;
					padding: 22px;
					div {
						font-size: 55px;
						line-height:  55px;
						&.disclaimer {
							font-size: 18px;
							line-height:  18px;
						}
					}
				}

				.bundle-wrapper {
					max-width: 50rem;
					margin: 0 auto;
					margin-bottom: 4rem;

					h3 {
						font-size: 2.5rem;
						line-height: 3.3rem;
					}

					img {
						margin-bottom: 1rem;
					}

					.desc {
						p {
							font-size: 1.4rem;
							line-height: 2.2rem;
						}
					}
				}

				img {
					margin-bottom: 1rem;
					width: 100%;

					&.progress-bar {
						width: 60%;
					}
				}

			}
		}
	}
}