#op3-designer-element {
	.offer-wrapper {
		text-align: center;
		background: 50% no-repeat none;
		background-attachment: fixed;
		background-image: radial-gradient(at center center, rgb(137, 137, 137) 0%, rgb(63, 63, 63) 100%);;//radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
		background-size: cover;
		margin: 0 auto;
		padding: 3rem 0.8rem;
		padding-bottom: 0;

		> div {
			background: 50% no-repeat none;
			margin: auto;

			h2, h3, h4, h5 {
				font-family: Barlow Condensed, sans-serif;
				color: white;
				font-size: 2.4rem;
				line-height: 2.5rem;
				margin-bottom: 2.5rem;
				text-shadow: 1px 1px 2px #464646;

				b,u {
					font-weight: 700;
					color: #ff7c00;
				}
			}

			h2 {
				text-shadow: rgba(0, 0, 0, 0.3) 0px 4px 0px;
			}

			h3 {
				font-size: 2.2rem;
				line-height: 2.4rem;
			}

			h4 {
				font-size: 2rem;
				line-height: 2.4rem;
				font-weight: 500;
				text-decoration: underline;
				font-style: italic;
			}

			h5 {
				font-size: 1.7rem;
				line-height: 1.8rem;
				font-weight: 300;
			}

			.separator {
				width: 50%;
				border-top: 5px solid #ff7c00;
				margin: 0 auto;
				margin-bottom: 1rem;
			}

			.bullet-container {
				max-width: 40rem;
				color: white;
				text-align: left;
				margin: 0rem;
				padding: 1rem;
				padding-left: 0.5rem;

				img {
					width: 20px;
					margin-top: 10px;
				}

				p {
					font-family: "PT Sans",sans-serif;
					text-shadow: 1px 1px 2px #464646;
					font-size: 1.3rem;
					line-height: 1.9rem;
					margin-bottom: 0;
				}
			}

			a.rounded.cta {
				border-color: #ff7c00;
				background-color: #ff7c00;
				max-width: 40rem;
				color: white;
				display: block;
				padding: 1rem;
				margin: 2rem auto;
				font-family: "Barlow Condensed", sans-serif;
				font-size: 2rem;
				font-weight: 700;
				border-radius: 50px;
				margin-bottom: 2.5rem;
				padding-bottom: 1.1rem;
				box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px -10px;

				&:hover {
					text-decoration: none;
				}

				div {
					text-transform: uppercase;
					line-height: 2rem;

					&.disclaimer {
						text-transform: none;
					}
				}
			}

			.bundle-wrapper {
				max-width: 40rem;
				color: white;
				margin: 3.6rem 0;
				margin-bottom: 3rem;
				position: relative;

				.gift {
					position: absolute;
					top: 0.5rem;
					left: 1.3rem;
					z-index: 1000;
					color: #ffffff38;
					font-family: "Titillium Web";
					font-weight: 300;
					font-size: 2rem;
				}

				h3 {
					display:none;
					font-family: 'Titillium Web',Helvetica,Arial,Lucida,sans-serif;
					font-size: 1.8rem;
					font-weight: 300;
					margin-bottom: 2rem;

					b,u {
						font-weight: 700;
						color: white;

						u.orange {
							color: #ff7c00;
						}
					}

				}

				.desc {
					text-align: left;
					padding: 1rem;
					padding-top: 5rem;
					padding-bottom: 2rem;
					box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
					background-color: rgba(58,58,58,0.60);
					background-image: linear-gradient(155deg, #5a5a5a 0%, #656565 65%, #505050 100%);
					border: 1px solid #ffffff15;

					img {
						display: block;
						width: 100%;
						margin-bottom: 2rem;
					}

					p {
						font-family: 'Titillium Web',Helvetica,Arial,Lucida,sans-serif;
						font-size: 1.1rem;
						line-height: 1.5rem;
						margin-bottom: 0.8rem;
						i {
							font-weight: 700;
							font-style: italic;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}
				}

			}

			img {
				display: block;
				width: 100%;
				max-width: 40rem;
				margin: 0 auto;
				margin-bottom: 2rem;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	#op3-designer-element {


		.offer-wrapper {
			padding: 4rem 0;


			div {
				max-width: 40rem;

				h2{
					font-size: 3rem;
					margin-bottom: 3rem;

				}

				h3 {
					font-size: 1.8rem;
					line-height: 2.2rem;
					margin-bottom: 4rem;
				}

				h4 {
				}

				h5 {

				}

				.bullet-container {
					border-radius: 0.2rem;

					font-size: 1.7rem;
					line-height: 1rem;
				}

				a.rounded.cta {
					div {

						&.disclaimer {

						}
					}
				}

				.bundle-wrapper {
					margin-bottom: 4rem;

					h3 {

					}

					img {
						margin-bottom: 1rem;
						width: 95%;
					}

					.desc {
						p {
						}
					}
				}

				img {
					margin-bottom: 4rem;
					width: 100%;
					max-width: 50rem;

					&.progress-bar {
						width: 60%;
					}
				}

			}
		}
	}
}

@media screen and (min-width: 1024px) {
	#op3-designer-element {
		.offer-wrapper {
			padding: 5rem 0;
			padding-bottom: 0;

			div {
				max-width: 55rem;
				h2{
					font-size: 4.5rem;
					margin-bottom: 4rem;
				}
				.separator {
					margin-bottom: 1.7rem;
				}

				h3 {
					font-size: 2.8rem;
					line-height: 4rem;
					margin-bottom: 3.5rem;
				}

				h4 {
					margin-bottom: 1rem;
				}

				h5 {
					margin-bottom: 1rem;
				}

				.bullet-container {
					max-width: 45rem;
					border-radius: 0.2rem;
					font-size: 1.7rem;
					line-height: 3rem;
					margin: 0 auto;

					img {
						width: 28px;
						margin-top: 10px;
					}

					p {
						font-size: 1.6rem;
						line-height: 2.3rem;
						margin:0;

					}

					&.last {
						margin-bottom: 2rem;
					}
				}

				a.rounded.cta {
					max-width: 45rem;
					padding: 22px;
					div {
						font-size: 55px;
						line-height:  55px;
						&.disclaimer {
							font-size: 18px;
							line-height:  18px;
						}
					}
				}

				.bundle-wrapper {
					max-width: 50rem;
					margin: 0 auto;
					margin-bottom: 4rem;

					.gift {
						font-size: 3rem;
					}

					h3 {
						font-size: 2.5rem;
						line-height: 3.3rem;
					}

					.desc {
						img {
							margin-top: 1rem;
							margin-bottom: 2rem;
							width: 88%;
						}
						p {
							font-size: 1.2rem;
							line-height: 1.9rem;
							padding: 0 1rem;
						}
					}
				}

				img {
					margin-bottom: 1rem;
					width: 100%;

					&.progress-bar {
						width: 60%;
					}
				}

			}
		}

	}
}